@use "@/public/assets/scss/imports/mixins" as *;

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";

    picture {
        grid-area: image;
        max-width: 60%;
    }

    .tab-list {
        --gap: 1.75rem;
        --underline-gap: 0.5rem;
        grid-area: tabs;

        padding: 0;

        li {
            list-style: none;
        }
        button {
            background: transparent;
            border: 0;
            cursor: pointer;
        }

        @include breakpoint-tablet {
            --gap: 2.25rem;
            --underline-gap: 0.75rem;
        }
    }
    .destination-info-container {
        --gap: 2rem;
        grid-area: content;

        flex-direction: column;
        align-items: center;

        @include breakpoint-desktop {
            --gap: 2.5rem;
            align-items: flex-start;
        }
    }

    @include breakpoint-desktop {
        grid-template-areas:
            ". title title ."
            ". image tabs ."
            ". image content .";

        justify-items: start;
        align-content: start;

        picture {
            max-width: 90%;
        }
    }
}
