:root {
    /* FONTS */
    @font-face {
        font-family: "Barlow";
        src: url("/public/fonts/Barlow-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: "Barlow Condensed";
        src: url("/public/fonts/BarlowCondensed-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: "Bellefair";
        src: url("/public/fonts/Bellefair-Regular.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
    }

    --font-family-primary: "Barlow", sans-serif;
    --font-family-secondary: "Barlow Condensed", sans-serif;
    --font-family-special: "Bellefair", cursive;

    --font-color: var(--clr-neutral-100);
    --font-color-secondary: var(--clr-primary);
    --font-color-error: crimson;

    --font-size: var(--fs-400);

    --background-color: var(--clr-secondary);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    margin: 0;
    padding: 0;
    font: inherit;
    letter-spacing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-primary);
    font-weight: var(--fw-regular);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}
